[2019-02-19 17:08] chiefcll opened #1 "Codeland conf doesnt use HTTPS"
https://github.blog/2018-05-01-github-pages-custom-domains-https/

[2019-05-10 04:52] nhampton-ut opened #2 "Small problem with speakers grid on main page"
I was looking at the site in excited anticipation of this summer's conf while walking across the street to pick up some tacos, so I was on my phone. I noticed that the names in the speaker boxes were causing some sizing irregularities in the box heights, and that the right margins were based on an nth-child scheme that broke when the grid went from 4-per-row to 3-per-row. Looked like small mistake

[2020-01-21 15:19] joshpuetz opened #6 "CSS/text issue on Safari Mobile"
On iOS 13.x (iPhone), part of the white explanation text is obscured. This also occurs in MacOS 10.15.x/Safari 13.x

![IMG_6977](https://user-images.githubusercontent.com/37842/72817208-026c4180-3c2f-11ea-955f-aeb9a8592263.png)

[2020-01-22 00:03] benhalpern commented on #6
Fixed I believe

[2020-01-22 00:03] #6 closed, assigned to nobody

[2021-06-22 17:22] abbyphoenix opened #48 "Update copy on site to reflect CFP open"
#### Details

The CFP opens today (June 22), and we should update [the site](https://codelandconf.com) to reflect that, by:

- Under **Attend** -> **Important Dates**: add [this link](https://cfp.codelandconf.com/events/codeland-2021) to this text "Call-For-Proposals (CFP) opens"
- Under **Submit a talk**: remove the second paragraph and replace it with "Our [Call for Proposals (CFP)](https://cfp.

[2021-06-22 18:03] emmmmmmmmmmmma commented on #48
[Updated!](https://github.com/code-newbies/codeland/commit/f27e18f66f727d131e7e2b8f981b9dd4b7408dee) @abbyphoenix

#48 f27e18f

[2021-06-22 22:44] abbyphoenix commented on #48
I'm so sorry to do this so soon, but I totally caught a typo I made (that I _knew_ I'd make at some point, sigh): it should be "closes on July 20," not July 22 under **Submit a talk**.

[2021-06-23 16:46] emmmmmmmmmmmma commented on #48
~~Ahh, just saw this -- lemme make the change real quick.~~

Done! 021a604

[2021-06-28 18:55] #48 closed, assigned to nobody

[2021-07-08 09:49] aitchiss opened #49 "User zooming and scaling"
At the moment, the site restricts users from zooming and scaling content on their mobile devices, due to:

[code]

We should update this to enable user zooming, as this is a core accessibility feature - [see the MDN docs for more details and explanation](https://developer.mozilla.org/en-US/docs/Web/HTML/Viewport_meta_tag).

I also noticed that on mobile devices, there are some issues currently wit

[2021-07-08 09:58] aitchiss opened #50 "Heading level structure"
Heading levels are really important for accessibility, as most screen reader users will start navigating a page by heading levels. There are a couple of key "rules" for heading levels:

- There should only be one `h1`
- Heading levels should only increase by one at a time (e.g. `h5` can't follow `h2`)

Using the axe chrome extension I can see we have a few errors flagged for heading level issues:

[2021-07-08 10:02] aitchiss opened #51 "All content should be contained within landmarks"
Using the axe chrome extension, I can see a lot of errors relating to missing landmarks on the site. Many users will rely on landmark regions to navigate to content (e.g. go straight to main content, to navigation, etc).

We should review the landmarks used on each page, with the aide of the axe extension, and make sure all of our content is contained within landmarks, and that a `main` landmark e

[2021-07-08 10:04] aitchiss opened #52 "`html` element should have a language attribute"
This is a very small fix, but the `<html>` element should have a `lang` attribute with the main language of the site.

This is essential for accessibility - without it, screen readers attempt to read site content in the language set in the user's system preferences. If this isn't English then the content will be very difficult for them to interpret.

[2021-07-08 10:12] aitchiss opened #53 "Remove `<hr>` element from list of important dates"
The "list of important dates" at the bottom of the home page is correctly contained within a `ul` element, but unfortunately, [screen readers will not be able to announce these items](https://dequeuniversity.com/rules/axe/4.2/list?application=AxeChrome) as a list because the inner markup contains elements that aren't list items.

We should remove the `hr` element from the list itself - there are a

[2021-07-20 23:10] abbyphoenix opened #55 "Close CFP"
As the CFP closes today (at 11:59pm UTC / 7:59pm ET / 4:59pm PT), we should remove reference to it being open on the site.

**Important Dates**

- Leave text but remove link to "Call-For-Proposals (CFP) Opens"

**Submit a Talk**

- Remove second paragraph and replace with: "Our Call for Proposals (CFP) has now closed. We're now hard at work reviewing proposals to craft a fantastic CodeLand 2021 pr

[2021-07-20 23:10] abbyphoenix commented on #55
@emmmmmmmmmmmma -- forgot to tag you, sorry!

[2021-07-21 20:59] emmmmmmmmmmmma commented on #55
Should I wait to push this at 11:59 UTC? @abbyphoenix

[2021-07-21 21:12] abbyphoenix commented on #55
@emmmmmmmmmmmma It was 11:59 UTC yesterday, so nope, as soon as you can works! ;)

[2021-07-26 14:49] emmmmmmmmmmmma commented on #55
Completed with 36039a2 (forgot to comment this last week!)

[2021-07-26 14:49] #55 closed, assigned to nobody

[2021-07-26 15:32] emmmmmmmmmmmma commented on #53
@aitchiss Would removing the `hr` element and adding a border to the list items in the CSS work for this?

[2021-07-26 15:41] aitchiss commented on #53
Hey @emmmmmmmmmmmma yep that should work perfectly 👍

[2021-07-27 18:49] #53 closed, assigned to nobody

[2021-07-27 18:49] #52 closed, assigned to nobody

[2021-07-28 13:06] #1 closed, assigned to nobody

[2021-07-28 13:10] nickytonline commented on #2
@danieltott, the site has been redesigned since this was logged, so this may no longer be an issue..

[2021-08-03 20:41] danieltott commented on #49
![i'm on it](https://media.tenor.co/images/022a3e82bcffeae373106a9d3a3a5a97/tenor.gif)

[2021-08-05 16:05] danieltott opened #58 "Remove `<br>` used for spacing"
There are a lot of instances of `<br>` being used for spacing purposes. Let's take a crack at removing those.

Example: https://github.com/code-newbies/codeland/blob/8ca4ae610a6aea260b95aca76d54c14c378bd35a/source/faq/index.html.erb#L10

[2021-08-09 12:49] #49 closed, assigned to danieltott

[2021-08-09 13:07] #50 closed, assigned to danieltott

[2021-08-09 13:42] danieltott opened #59 "Consider hosting the site on Netlify"
Since DEV already has a netlify account - I think this is a low-effort/high-reward move.

The biggest thing hosting on Netlify will give us is [deploy previews](https://docs.netlify.com/site-deploys/deploy-previews/) - automatically-built hosted versions of sites when pushing PRs etc - there's literally no way to preview changes without pulling the site down and building locally. [Here's a list](h

[2021-08-09 13:48] nickytonline commented on #59
I think this makes a lot of sense. I would be down to getting this set up once all the high priority Codeland issues are sorted.

Thoughts @pkfrank @Zhao-Andy  since you hold the keys to the Netlify account.

[2021-08-09 14:19] Zhao-Andy commented on #59
I think Netlify is a good option -- happy to set this up on the Forem Netlify account. I'll defer the final decision to whoever is best for that (not me haha).

Right now, deployment seems tied to GitHub Pages. @danieltott I'm guessing there might be some additional setup needed to make it work with Netlify? It probably wouldn't be many steps, but if you want to make a branch I can start to demo a

[2021-08-09 14:32] danieltott commented on #59
@Zhao-Andy It should just work - netlify will auto-detect the middleman settings. I can make a branch do things like removing the github gem thing and updating the docs, but I don't think we'll need to make any changes to actually get the build to go on netlify if we want to test it out. The build command is `bundle exec middleman build` - and it seems (unless I'm missing something) like it's usin

[2021-08-09 14:34] danieltott commented on #59
@Zhao-Andy actually it seems like I might be able to do it on the DEV account if you'd like me to give it a shot...

[2021-08-09 14:38] danieltott commented on #59
![image](https://user-images.githubusercontent.com/360261/128724487-27851b75-27b7-4969-ac73-3de8ab8c2afe.png)

[2021-08-09 14:42] Zhao-Andy commented on #59
Nice, looks great! Go for it :)

[2021-08-09 14:45] danieltott commented on #59
OK - so this is a pretty funky netlify situation, but it looks like I was able to _create_ the site, but now I can't _access_ it 🤦

If someone can add me to that site (right now I'm only on forem.com) - that would be wonderful and I can finish setting it up 😄

It'll have a weird auto-generated name right now, first step will be re-naming it.

[2021-08-09 16:36] danieltott opened #60 "Allow pages to set title/meta info"
Currently `<title>` and all other meta data is hard-coded in `layout.erb`:

https://github.com/code-newbies/codeland/blob/98a5c7cbc1ac123dd707062199ea672d219089a8/source/layouts/layout.erb#L8-L41

### Proposed solution:
Add title and anything else we'd like to change per-page to pages' [front matter](https://middlemanapp.com/basics/frontmatter/), then update our layout file to use that.

[2021-08-09 16:37] danieltott commented on #59
CC above comment @Zhao-Andy - not sure if you're the one with those permissions - thanks!

[2021-08-09 16:43] danieltott opened #61 "Attach nav link event to `<a>` instead of `<li>`"
Currently the javascript that closes the nav menu when a user clicks on an item is attached to the nav `li` elements:

https://github.com/code-newbies/codeland/blob/98a5c7cbc1ac123dd707062199ea672d219089a8/source/javascripts/main.js#L6-L8

`listitem` elements are not focusable by default - there's ways to work around this, but a much easier approach would be to simply attach that behavior to the `

[2021-08-09 17:14] danieltott opened #63 "Image optimization"
There are a few images that are HUGE and being loaded with no sizing etc. There are some easy first-pass optimizations we could run.

![image](https://user-images.githubusercontent.com/360261/128745849-3946b23e-1444-4b21-80b4-b49c04b39c06.png)

Since we're using middleman, we don't have access to top-of-the-line tooling like [`next/image`](https://nextjs.org/docs/api-reference/next/image). I haven

[2021-08-09 17:21] danieltott commented on #63
This is actually a new warning for me:
![image](https://user-images.githubusercontent.com/360261/128747385-405a5275-241f-4540-95a8-08891577f9d0.png)

[2021-08-09 17:29] Zhao-Andy commented on #59
Hey @danieltott, sorry that's not me unfortunately! I believe @pkfrank or @benhalpern can do that.

[2021-08-10 15:04] #51 closed, assigned to nobody

[2021-08-10 16:53] danieltott commented on #59
OK great - @pkfrank was able to get me in.

The site looks good: https://codelandconf.netlify.app/

The next steps would be (in order):

1. Update the DNS to point to netlify
2. remove gh actions and other gh pages stuff from the current site

The DNS settings would be:

[code]

No idea who would be in charge of DNS stuff, but changing those two DNS records will change the site over to netlify 👍

[2021-08-11 22:23] #63 closed, assigned to danieltott

[2021-08-12 14:40] emmmmmmmmmmmma opened #66 "Update site with 2021 conference program"
In advance of registration opening next Tuesday (8/17), there are some changes that need to be made on codelandconf.com:

- The CFP/"Submit a Talk" section should be replaced with the 2021 conference program. [I've already swapped in the 2020 program here,](https://github.com/code-newbies/codeland/pull/65) the data just needs to be updated (either by manually copy pasting it or by updating the `.y

[2021-08-12 14:46] danieltott opened #67 "Use imgix for image optimization/transformation"
[imgix](https://imgix.com/) is really the best service for serving resized and optimized images on the fly. It has a free tier that should handle most of the needs of the marketing sites I've been working on (forem.com and codelandconf) and will greatly simplify both development and build time while having large positive effect on performance and speed (and therefore SEO as well).

If that's ok, I

[2021-08-12 17:36] emmmmmmmmmmmma commented on #66
@danieltott I'm not sure how to approach grouping talks by their theme. The template I'm repurposing from last year (`source/layouts/_distributed_program.erb`) just loops through all the speaker data and creates HTML elements for each talk, only checking if the talk is a keynote or not. I guess this is contingent on what the 2021 data looks like, but if it's similar to the 2020 data, it would be k

[2021-08-12 17:57] abbyphoenix commented on #66
So I can export a JSON file, which identifies the theme as "Track" -- does that help?

As there are only 16 of these, I'm wondering whether it's easier to just ignore the track though and hard-code in the data vs. continuously loading it in from the JSON? We had talked about that yesterday -- I'm going to send the JSON anyway, but just a heads up that this is far from final, and we'll have edits t

[2021-08-12 18:37] SGGregory commented on #66
@danieltott [here](https://docs.google.com/spreadsheets/d/1cZhwoL5d7297gJor-CHDIHhpw9vtxzjoPkyDyr3xOZg/edit?usp=sharing) is the info for the keynotes! As I mentioned in the comments, a few things are still unconfirmed but this should work as a placeholder. I'll let you know what gets updated as soon as possible!

[2021-08-12 19:51] danieltott commented on #66
Keynote data:

One Rule to Rule Them All: Learning in Public
Gift Egwuenu
Frontend Consultant
Passionate People
https://airtable.com/tblnTXSXkz3aKqGsC/viwFUEjQhp6juAwPj/rec1hep7tOuYjGAc1?blocks=hide
Gift Egwuenu is a frontend consultant at Passionate People and a content creator based in Haarlem Netherlands, She loves engaging with and advocating for open and inclusive developer communities and lo

[2021-08-13 12:27] nickytonline commented on #67
I think this makes sense. In terms of the account for imgix, we'd need to set it up with a Forem email account, or would yo@dev.to make more sense @benhalpern. That appears to be the default we use for a lot of things.

Also, just bringing up Cloudinary again as we have an account already. I know Cloudinary does much more than image resizing, but just wanted to see if we wanted to keep it all unde

[2021-08-13 12:32] danieltott commented on #67
@nickytonline I forgot there's a DEV cloudinary account. It's a lot harder to deal with (and much more expensive) but it also can do a lot with video and stuff like that. I'd say though if I can have access to cloudinary I probably could set up similar things as what I had planned with imgix.

[2021-08-16 15:11] nickytonline commented on #67
As discussed on Zoom @danieltott, go ahead and create the imgix account to apply the transformations.

[2021-08-16 20:58] #66 closed, assigned to danieltott, emmmmmmmmmmmma

[2021-08-16 21:37] SGGregory opened #69 "Add accessibility page and top-nav link"
## Description of Task

- Request to add an "accessibility" page to codelandconf.org ahead of our launch on Tuesday, August 17, 2021 using the copy shared in `content` section below.
- Request to add `Accessibility` top menu navigation link

The page can be very simple, stylistically — much like the [Code of Conduct page](https://codelandconf.com/coc/).

## Content

**Top-Nav Label Copy:** `Access

[2021-08-16 23:49] #69 closed, assigned to emmmmmmmmmmmma

[2021-08-17 00:04] SGGregory opened #72 "Update "Attend" section copy and add registration call-to-action"
## Description of Task

- Remove blue copy in `Attend` Section
- Add new `Attend` copy (see `Content` section below)
- Add button for registration/clickable C2A (see `Content` section below) under `registration` sub-section
- Update copy under `cost` sub-section

## Content

**`Attend` Section Copy:**
`CodeLand 2021 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm

[2021-08-17 14:03] danieltott commented on #60
### [Home](https://codelandconf.com/)
**Title:** CodeLand Conference 2021
**Description:** The most welcoming conference for early-career coders and their champions.

### [/accessibility](https://codelandconf.com/accessibility/)
**Title:** CodeLand Conference 2021
**Description:** The most welcoming conference for early-career coders and their champions.

### [/faq](https://codelandconf.com/faq/)

[2021-08-17 15:57] SGGregory commented on #60
@danieltott I went off of the tabs I saw on the Netlify preview and also added in the pages you list above.

### Home

**Title:** CodeLand Conference 2021
**Description:** CodeLand is a virtual tech conference for early-career coders by CodeNewbie & DEV.to: two software communities built on Forem. September 23-24, 2021.

### Attend

**Title:** CodeLand 2021 Registration & Pricing
**Description:**

[2021-08-17 16:37] #60 closed, assigned to nobody

[2021-08-17 16:37] #67 closed, assigned to nobody

[2021-08-17 16:37] #72 closed, assigned to nobody

[2021-08-17 20:21] danieltott opened #74 "Add `rel="noopener"` to all `target="_blank"` links"
From [web.dev](https://web.dev/external-anchors-use-rel-noopener/?utm_source=lighthouse&utm_medium=lr):

[2021-08-23 14:43] danieltott commented on #59
@nickytonline This seems to be working pretty well and now that we're not in crunch time I think we can move forward. Who should we talk to about changing the DNS settings?

[2021-08-23 19:38] nickytonline commented on #59
@Zhao-Andy, would you happen to know who we can talk to about making the DNS change to that we can point to Netlify for serving the live site?

[2021-08-23 21:21] Zhao-Andy commented on #59
Hmm probably @benhalpern or @pkfrank is my guess.

[2021-08-24 21:02] pkfrank commented on #59
@Zhao-Andy I have access to update the CodeLandConf DNS.  Can we confirm whether there's any "timing" considerations to be aware of (IE should I hold off on changing records until we're ready to take some other actions)?

Best way to catch me during working hours will be to DM me via Slack.

[2021-08-24 21:13] Zhao-Andy commented on #59
I think the worst case scenario is 24 hours. Do we have any edge caching available with Codeland? If so that might help mitigate the changes, but IMO this is a rip off the bandage situation. My experience with Netlify has been that the DNS gets picked up quickly.

I'll leave this for @danieltott and @nickytonline to finalize since I'm more of a messenger than a project owner here.

[2021-08-25 21:49] SGGregory opened #78 "Add sponsor graphics to site"
## Requests

- Add clickable sponsor logos to `Sponsors` section on codelandconf.com.
- Preserve existing `Sponsors` inquiry info, but move to a different section or relabel existing navigation as `Become a Sponsor`

## Details

- In the comments below, @SGGregory will add sponsor logo files, names (if we need to display text), sponsorship levels (if needed), and the external link they should lead

[2021-08-25 21:50] SGGregory commented on #78
## Strapi

**Name:** Strapi
**External Link:** https://strapi.io/careers?utm_source=event&utm_medium=codeland
**Logo:**
<img width="763" alt="Strapi" src="https://user-images.githubusercontent.com/69541346/134223904-55a21ff6-ed47-47a0-bf88-431e116b1879.png">

[2021-08-25 21:51] SGGregory commented on #78
## Stream

**Name:** Stream
**External Link:** https://getstream.io/?utm_source=codeland&utm_medium=event&utm_content=developer&utm_campaign=09_23_2021&utm_term=virtual
**Logo:**
![Stream Official Stacked](https://user-images.githubusercontent.com/69541346/130869350-416b3481-cebc-4c62-bebd-ad64b4b5e9db.png)

_^ this is the logo we have for them but it seems pretty small to me. Let me know if a lar

[2021-08-25 21:54] SGGregory commented on #78
@benhalpern I am going to use this issue as our ticketing system for adding sponsor logos to the site (as we receive them).  Let me know if this process doesn't work for you.

@nickytonline @danieltott heads up that Ben and I have already had a discussion about him running point on adding sponsors.

[2021-08-30 13:36] danieltott commented on #59
@pkfrank we're in good shape for the DNS change this week - there aren't a lot of incoming changes right now while we prepare internally for the day-off stuff. I confirmed our settings are correct on the netlify side, so we're good to go!

If you can send me a message when you do the transfer, I'll make sure it all happens smoothly, set up let's encrypt, etc.

Let me know if you have any questions

[2021-08-30 13:36] danieltott commented on #59
Since this is a static site it's a pretty low-pressure DNS change.

[2021-08-30 14:08] benhalpern commented on #78
@SGGregory I added Strapi and Stream to the site, but I didn't have access to that airtable, so I requested it. In the meantime I just linked to the home page and added just the image...

[2021-08-30 20:29] SGGregory commented on #78
@benhalpern  Apologies! I changed the links above to the actual ones they sent instead of the Airtable record where it's listed (error on my part)

[2021-08-30 20:31] SGGregory commented on #78
@benhalpern

**Name:** StoryBlok
**External Link:** https://www.storyblok.com/?utm_source=codeland&utm_medium=logo&utm_campaign=codeland2021
**Logo:** ![colored-full](https://user-images.githubusercontent.com/69541346/131401327-2e7251c5-5c77-4265-9ef9-c615ab5f0bba.png)

[2021-08-30 20:40] joshpuetz opened #80 "CodeLand Conf 2021 Experience Improvements"
(This issue has been moved from the previously private issue at https://github.com/forem/rfcs/issues/259). Attached is a PDF of the comments on that issue:
[CodeLand Conf 2021 Experience Improvements · Issue #259 · forem:rfcs.pdf](https://github.com/code-newbies/codeland/files/7079477/CodeLand.Conf.2021.Experience.Improvements.Issue.259.forem.rfcs.pdf)

## Summary

Support CodeLand Conf 2021 onlin

[2021-08-31 15:58] benhalpern commented on #78
Done with everything so far, keep 'em coming. @SGGregory

[2021-08-31 18:28] danieltott opened #82 "Diagonal design elements break down at wider screens"
![image](https://user-images.githubusercontent.com/360261/131555589-bf74fffc-7c75-4f77-b083-87dd56fb7172.png)

These are created by making a pseudo-element, tilting it, stretching it, and then trying to position it:

[code]

Since the `left` and `top` values are in pixels, this will always break down at some point.

We could probably fix this by using `vw`, but I think there's probably a better wa

[2021-08-31 20:25] #61 closed, assigned to nobody

[2021-08-31 20:29] #74 closed, assigned to nobody

[2021-09-01 22:34] SGGregory commented on #78
@benhalpern

**Name:** Cockroach Labs
**External Link:** https://www.cockroachlabs.com/?utm_campaign=event-codeland&utm_source=codeland&utm_medium=event&utm_content
**Logo:** ![Cockroach Labs](https://user-images.githubusercontent.com/69541346/131754016-629e906a-b4b4-462a-bbf3-ded678baa507.png)

[2021-09-10 02:42] SGGregory commented on #78
@benhalpern

**Name:** Azure
**External Link:** https://aka.ms/Azure/Free
**Logo:** ![MS-Azure_logo_stacked_c-gray_rgb](https://user-images.githubusercontent.com/69541346/132790723-b3043937-687b-489f-92ab-e7f91bedb830.png)

[2021-09-10 02:44] SGGregory commented on #78
@benhalpern could this one appear first (and if it's doable, could it be more prominent than the others, somehow — since they are our Patron Sponsor?)

**Name:** GitHub
**External Link:** https://github.com/about/careers
**Logo:** ![GitHub_Logo (1)](https://user-images.githubusercontent.com/69541346/134223830-dc8f8a38-7125-431d-ad11-5fb40439f7f1.png)

[2021-09-14 17:42] SGGregory commented on #78
**Name:** Devocate
**External Link:** https://www.devocate.com/
**Logo:** ![2020-logo-website](https://user-images.githubusercontent.com/69541346/133307258-5cc88c4a-878a-4fb8-9bfc-db521abce473.png)

@benhalpern

[2021-09-15 14:56] benhalpern commented on #78
✅

[2021-09-19 02:56] SGGregory commented on #78
**Name:** Ionic
**External Link:** https://ionicframework.com/?utm_source=partner&utm_medium=referral&utm_campaign=codeland2021
**Logo:** ![ionic-logo](https://user-images.githubusercontent.com/69541346/133913899-28e2a4df-dbf3-4a67-998e-cf963f35c0bd.png)

@benhalpern

[2021-09-20 23:57] SGGregory commented on #78
**Name:** New Relic
**External Link:** https://newrelic.com/
**Logo:** ![New Relic Logo](https://user-images.githubusercontent.com/69541346/134092123-464fac41-8809-4486-966f-0af06cd81092.png)

### @benhalpern note that New Relic is our other patron sponsor so we should feature them up top with GitHub

[2021-09-20 23:59] SGGregory commented on #78
**Name:** Commsor
**External Link:** http://commsor.com/
**Logo:** ![commsor-logo](https://user-images.githubusercontent.com/69541346/134260456-6033651a-6f28-4a72-8c1b-0adc684bb20d.png)
@benhalpern

[2021-09-21 00:02] SGGregory commented on #78
**Name:** Sourcegraph
**External Link:** https://about.sourcegraph.com/
**Logo:** ![sourcegraph-logo](https://user-images.githubusercontent.com/69541346/134260348-09a17a8b-a224-4b33-8ddc-8641e9511f8d.png)

@benhalpern

[2021-09-21 00:05] SGGregory commented on #78
**Name:** Typesense
**External Link:** https://typesense.org
**Logo:** ![typesense](https://user-images.githubusercontent.com/69541346/134092636-03533695-92bc-44e5-b424-33d0e19c6977.png)

@benhalpern

[2021-09-21 18:03] SGGregory commented on #78
**Name:** AWS
**External Link:** https://aws.amazon.com/
**Logo:** ![1200px-Amazon_Web_Services_Logo svg](https://user-images.githubusercontent.com/69541346/134223661-a0d95fde-4a41-4326-9ff4-bd81cf71c081.png)

@benhalpern

[2021-09-21 18:05] SGGregory commented on #78
@benhalpern just a note that Strapi and GitHub have also updated their logos. Files above.

[2021-09-21 23:25] SGGregory commented on #78
@benhalpern sorry to do this, but Sourcegraph and Commsor have updated their logos. Files above.

[2022-02-22 18:33] danieltott commented on #59
@Zhao-Andy @pkfrank Hey all! I'm back for codeland 2022! It looks like we never pulled the trigger on changing the DNS for this to point to netlify. Would it be possible to do this this week?

Here's the notes from Netlify (you can also check this out [at the netlify domain config](https://app.netlify.com/sites/codelandconf/settings/domain):

## codelandconf.com

### www.codelandconf.com

[2022-02-22 18:34] #80 closed, assigned to danieltott

[2022-02-22 18:34] #78 closed, assigned to nobody

[2022-02-22 18:34] #2 closed, assigned to nobody

[2022-02-23 07:40] SGGregory opened #91 "Update Marketing Website for 2022 CodeLand Announcement"
# Description of Task

We'll need to update the CodeLand marketing site (codelandconf.com) in preparation for our CodeLand 2022 announcement on March 1, 2022. We'll want to replace all mentions of 2021 with 2022 and remove sections that aren't relevant to the current event-planning juncture we're at.

Very basic wireframe for each page is within each section. All graphics requested can be found [h

[2022-02-23 07:41] SGGregory commented on #91
@danieltott here's the issue for the Marketing Site updates!

[2022-02-24 22:10] danieltott commented on #59
All set - thank you @Zhao-Andy!

[2022-02-24 22:10] #59 closed, assigned to nobody

[2022-02-25 01:33] danieltott commented on #91
@SGGregory  https://deploy-preview-92--codelandconf.netlify.app/

Got those changes up!

Take a look at the new design elements - made some best guesses for the screenshots and the new logo sticker.

For the sticker it might be better to sort of squash them all together under the button, but you can let me know what you think 👍

[2022-02-25 19:18] abbyphoenix commented on #91
Okay, really interesting split here between the mobile and desktop look.

For **desktop**, the screenshots from last year are on the side of the logo and two overlap each other.
<img width="600" alt="image" src="https://user-images.githubusercontent.com/4975727/155772222-795b6eab-77d0-4a62-a99c-d05974858599.png">

For **mobile**, they're in a horizontal grid below the logo and are each fully visib

[2022-02-25 19:21] abbyphoenix commented on #91
If we keep the screenshots where they are, I'd like to see if we can reduce this white space and bring everything up?

<img width="600" alt="Screen Shot 2022-02-25 at 11 19 40 AM" src="https://user-images.githubusercontent.com/4975727/155775143-565dbffe-1109-49fd-8be1-9bbb57a5e196.png">

[2022-02-25 19:33] abbyphoenix commented on #91
### Quick Hits

**Sponsorship**
- Let's reword Sponsorship Brochure as "Sponsorship Prospectus"
- I wonder if we should even include Patron (actually, it's not listed here, but it is when you click the "this link"), Thought-Leader, or Mentor levels here since there's no way anyone could know what that means? Actually, thinking this through... before someone sees the prospectus, how would they know

[2022-02-25 19:33] abbyphoenix commented on #91
Surprisingly 😂, I have no opinion on where the stickers are placed -- they look good to me, but I can see them squished under the button too!

[2022-02-25 20:33] danieltott commented on #91
@abbyphoenix for the screenshots we can do any of that - just let me know what you want 👍

[2022-02-25 20:46] SGGregory commented on #91
- Sticker placement looks good to me!
- I'm good to put the screenshots in a line. I will note that they look very small in the current format so I'm wondering if the same will be true if we move them into a line, but perhaps we can't avoid that due to resolution.
- Good point, Abby. I'll remove the checkboxes from the MailChimp form. That was a residual decision from last year but perhaps it didn

[2022-02-25 20:50] SGGregory commented on #91
This might not be necessary, but just in case, here's the updated sponsorship form HTML (without tier checkboxes):

[code]

[2022-02-25 23:06] abbyphoenix commented on #91
@danieltott Let's try in a line above CodeLand! How big can we make them? 👀

[2022-02-25 23:58] danieltott commented on #91
@abbyphoenix we can make them as big as the width of the browser window divided by three if that’s what we want. I promise I can do anything you want - you just tell me what to do 😁

[2022-02-26 00:04] abbyphoenix commented on #91
Awesome! Let's go with the width of the nav bar, divide by three, but then add in padding all around, like 10px? (is that even how it's measured?)

[2022-02-28 15:13] danieltott commented on #91
@abbyphoenix @SGGregory Those changes are up on the staging site: https://deploy-preview-92--codelandconf.netlify.app/

I tried out a little designy stuff for the screenshots - let me know if they work or if you want to see them more regular (:

[2022-02-28 17:26] abbyphoenix commented on #91
I like this! Including the designer-y stuff! 👍🏽👍🏽

I looked on mobile and it looks the same too, which I like -- there is an issue with the content width on mobile, but otherwise, it's all looking ready to me!

[2022-02-28 18:08] danieltott commented on #91
@abbyphoenix what issue are you seeing?

[2022-02-28 19:22] abbyphoenix commented on #91
I can pinch to zoom out and see more whitespace:
<img src="https://user-images.githubusercontent.com/4975727/156045110-cc7f605e-0295-4e36-ba4b-c7950b39a2ae.jpeg" width="300">

And then when I open the menu, it widens too far to the point where I can't get to the last options:
<img src="https://user-images.githubusercontent.com/4975727/156045099-fa5663f5-7e9f-44c9-befa-ead0b2971912.jpeg" width="300

[2022-02-28 19:57] danieltott commented on #91
@abbyphoenix Thanks - both of those have been fixed 👍

[2022-02-28 20:38] danieltott commented on #91
@abbyphoenix @SGGregory This is ready to go live whenever you're ready - just let me know.

[2022-02-28 21:01] abbyphoenix commented on #91
@danieltott Gorgeous, I love it!!

One clarification: the CFP link at "here" under Submit a talk will go to the correct one once this has been pushed live, right?

@SGGregory -- take a look when you get a moment, but it's looking good to me!

[2022-02-28 22:27] SGGregory commented on #91
@danieltott Beautiful. LOVE what you did with the screenshots. Really clean. This is good to ship, pending the question @abbyphoenix  asked above 🎉

[2022-03-01 00:49] #91 closed, assigned to danieltott

[2022-03-01 00:56] danieltott commented on #91
@SGGregory @abbyphoenix ok, fixed that link, and all changes are live!

![go time](https://media.tenor.com/images/1d9874c34e2b1e2826851a9cdeea8b22/tenor.gif?ver=0126&c=VjFfZnJhbms)

[2022-03-15 23:59] SGGregory opened #93 "Change website card to reflect current year"
## Description of issue

Currently, the social card attached to the website is outdated. When the site is shared on social media, the old card appears. [See example](https://share.getcloudapp.com/mXuY7dKz)

## Request

Request to update CodeLandConf.com social card with the image below:
![codelandconf com](https://user-images.githubusercontent.com/69541346/158491267-ea816fe6-e253-4ae3-8054-ff0c274

[2022-03-22 15:11] #93 closed, assigned to nobody

[2022-03-22 15:12] danieltott commented on #93
@SGGregory This is live! https://codelandconf.com/

[2022-03-22 15:14] danieltott opened #95 "Update documentation re: deploys"
The README still mentions github pages.

- Update docs to describe Netlify
- Remove gh pages workflow

[2022-03-22 16:19] SGGregory commented on #93
Thank you!

[2022-03-29 21:45] SGGregory opened #96 "Update CodeLand Marketing Site Post CFP-Deadline"
We'll need to update the CodeLand marketing site (codelandconf.com) after the CFP deadline passes on March 29 @ 4:49 PM PT/11:59 PM UTC. Here are the necessary tasks to update the site:

- [ ] Replace `Submit a Talk`  top menu button with `Talk Info`
- [ ] Remove `Submit a Talk` button from hero
- [ ] Edit "Submit a Talk" website section with the following copy;

[Heading] Talk Info

[Sub-heading/

[2022-03-29 21:46] SGGregory commented on #96
@danieltott heads up about this request. Thank you in advance :) Today is the day of the CFP deadline so it would be great to have this update as soon as possible. Thank you!

[2022-03-30 00:23] #96 closed, assigned to nobody

[2022-03-30 00:24] danieltott commented on #96
@SGGregory This is live!

[2022-04-06 22:48] SGGregory opened #98 "Update CodeNewbie Logo from Green Version to Purple Version"
We updated the CodeNewbie brand colors from green to purple and will need to update the CodeNewbie logo on our marketing site's footer. Updated/correct version attached!

Thanks so much 😊 Let me know if anything else is needed here.

![codenewbie-full-outlined](https://user-images.githubusercontent.com/69541346/162083646-164dda80-9f6f-4cfa-89fd-f4665b76dfa6.png)

[2022-04-18 18:24] SGGregory opened #99 "Update Marketing Site For Angie Jones Announcement"
# Description of Task

We're announcing our first CodeLand Keynote speaker on April 19, 2022 around 9:30 AM PT

It would be fantastic if we could feature Angie on the site following the announcement in the ways described below.

## Task List

### Update `Talk Info` section:

- [ ] Add an outlined or color background text box between the existing unitalicized text and the italicized text in this se

[2022-04-19 14:20] danieltott commented on #99
@SGGregory A preview for this is up: https://deploy-preview-100--codelandconf.netlify.app/

Let me know if you have any changes!

[2022-04-19 17:12] SGGregory commented on #99
Looks great! Here's the live link: https://community.codenewbie.org/codenewbie/announcing-codeland-2022s-first-keynote-speaker-angie-jones-1gn8 Ready to ship 😊

[2022-04-19 17:43] #99 closed, assigned to nobody

[2022-04-19 17:45] danieltott commented on #99
@SGGregory live! https://codelandconf.com/

[2022-04-20 17:14] SGGregory opened #101 "Fix CodeLand Metadata Issue"
# Description of Task

It appears that when `CodeLand` is searched on Google, our website comes up at the top (yay!) but the title of the site is labeled as `CodeLand 2021` instead of `CodeLand 2022`. Hoping this is something @danieltott can help us fix 😊

## Definition of Done

When CodeLand appears in search engines, our CodeLand marketing site should be titled `CodeLand 2022` instead of `CodeLa

[2022-04-21 13:50] danieltott commented on #101
@SGGregory So this is Google showing a cached version of the title (and it only happens on mobile google, desktop shows the correct title). You can request this to be updated through Google Analytics - I don't have access to the codeland GA account, but whoever does can follow the directions here: http://labs.seoclick.com/request-outdated-cache-removal-google.html

[2022-04-22 20:10] #101 closed, assigned to nobody

[2022-04-22 23:39] SGGregory opened #102 "Update Marketing Site to Reflect Program Announcement & Registration Opening"
## Description of Task

We would like to announce our program of talks selected from the CFP and announce the opening of registration on April 26 around 9:30 AM PT. As such, we need some changes made to the marketing site to reflect new information and calls-to-action. Here is a rundown of the requests, which I'll go into more detail on below:

- Update "Attend" Section + Menu Option
- Add Registr

[2022-04-26 19:36] #102 closed, assigned to nobody

[2022-04-26 19:52] danieltott commented on #98
@SGGregory do you have a transparent and/or vector version of this image?

[2022-04-27 21:07] SGGregory commented on #98
Here you go @danieltott  😊
![codenewbie-full](https://user-images.githubusercontent.com/69541346/165631314-f8c776f7-307a-4d3a-bf83-347a252f2b29.svg)

[2022-05-03 15:57] SGGregory opened #104 "Update Marketing Site For Kelsey Hightower Announcement"
# Description of Task

We're announcing another CodeLand speaker on May 3, 2022 around 9:30 AM PT

We would like to feature Kelsey Hightower on the site following the announcement in the ways described below.

## Task List

### Change `Keynote` wording under `Program` section:

- [ ] Change `Keynote` subheading to `Keynotes & Fireside Chats`

### Add Kelsey Hightower to headlining speakers section

[2022-05-03 16:31] danieltott commented on #98
LIVE

[2022-05-03 16:31] #98 closed, assigned to nobody

[2022-05-03 16:37] #104 closed, assigned to nobody

[2022-05-09 18:48] SGGregory opened #106 "Update Website for Tracy Chou Announcement"
# Description of Task

We're announcing another CodeLand speaker on May 10, 2022 around 9:30 AM PT

We would like to feature Tracy Chou on the site following the announcement in the ways described below.

## Task List

### Add Tracy Chou to headlining speakers section:
- [ ] Add Tracy Chou headshot underneath Kelsey Hightower's. Headshot file [here](https://user-images.githubusercontent.com/695413

[2022-05-10 12:58] danieltott commented on #106
@SGGregory this is all set pending getting the live link. Deploy preview here: https://deploy-preview-107--codelandconf.netlify.app/

[2022-05-10 16:24] SGGregory commented on #106
Awesome @danieltott! Here's the live link for the top banner: https://community.codenewbie.org/codenewbie/tracy-chou-to-speak-at-codeland-2022-3e5f

[2022-05-10 16:46] #106 closed, assigned to nobody

[2022-05-10 16:51] danieltott commented on #106
@SGGregory this is live!

[2022-05-25 22:13] SGGregory opened #108 "Create top-level discussion button on day-of site"
### Description of Request
Requesting that we add a button to the top-level navigation of the day-of site which will link to a discussion series on CodeNewbie Community.

Text should say `>> Join a discussion` and link [here](https://community.codenewbie.org/codenewbiestaff/series/153). Flexible on whether or not the `>>` needs to be included or replaced with another visual indication that this wi

[2022-05-25 22:18] SGGregory opened #109 "Put Frame Around Discord Widget on Day-Of Site"
### Description of Request
Requesting that we add a frame around the Discord widget on the day-of site.

The frame has been created as you can see here:
![Rectangle 3](https://user-images.githubusercontent.com/69541346/170377279-b2e59d21-61aa-4e8e-86ca-755d90f15821.png)

What I'll need to know is:
1. Whether or not the frame can have a background that sits underneath the widget like the version li

[2022-05-25 23:23] SGGregory opened #110 "Plan to Share Feedback Survey Button on Day-Of Site After the Conclusion of Day 1 of CodeLand"
### Description

Like last year, we will want to switch on a feedback button at the end of Day 1. If possible, it would be great if this could appear above the CodeLand shop button and be slightly larger.

The button can stay up through June 24, 2022 as we will be running a raffle associated with the feedback form that ends on June 24 @ 11:59 PM UTC.

### Implementation

- It would be great if thi

[2022-06-01 20:19] SGGregory opened #112 "Remove Shubhendra Singh Chauhan from marketing site"
This speaker will no longer be joining us at CodeLand so we'll want to remove them from the site as soon as possible. Thank you!

[2022-06-01 20:59] abbyphoenix commented on #112
Closed via a new upload of the talks2022.json file [here](https://github.com/code-newbies/codeland/tree/main/data).

[The site](https://codelandconf.com/#program) should now be up to date!

[2022-06-01 20:59] #112 closed, assigned to nobody

[2022-06-07 17:04] abbyphoenix opened #113 "Update 2022 Sponsor Footer with new design"
We have an updated design now for the sponsor footer on the day-of page, which is mocked up in Figma [here](https://www.figma.com/proto/a9QxQesrqs3zG3MGuqXJFv/Design-Workspace?page-id=2%3A13&node-id=277%3A2297&viewport=405%2C8%2C0.07&scaling=scale-down-width&starting-point-node-id=277%3A2297).

The main changes appear to be:

- Rounded corners on the sponsor boxes
- A designation of the "big" spon

[2022-06-08 19:52] SGGregory opened #114 "Update Tracy P Holmes' bio on marketing site"
Tracy changed employers and will need her bio updated on the site to the following...

`A "jackie of all trades" (and mistress of being herself), Tracy is a Technical Community Advocate at Isovalent focusing on all things Cilium, eBPF, and Anxiety Driven Development. When she isn't leveling up her programming skills, hanging with her pup, or learning all she can about the next "Something-OPS", she

[2022-06-08 19:55] SGGregory opened #115 "Update Silvia's name on marketing site"
Just heard from our speaker Silvia that she'd like her name changed on the site and wherever we mention her name.

Can we change it on the site from Silvia España Gil to `Silvia España` (i.e. dropping the "Gil")?

Tagging @abbyphoenix in case this is something that can be edited on our side of things.

Thank you!

[2022-06-08 20:50] abbyphoenix commented on #114
Emailed Tracy to get a shorter bio, because it needs to be 500 characters (including spaces) and is currently 528. Will update this as soon as she sends that!

[2022-06-08 20:52] abbyphoenix commented on #115
[Updated](https://codelandconf.com/#program) in her name and in her bio!

[2022-06-08 20:52] #115 closed, assigned to nobody

[2022-06-08 21:09] abbyphoenix commented on #114
[Updated](https://codelandconf.com/#program) now with a shorter bio that reflects Tracy's new job:

`A "jackie of all trades" (and mistress of being herself), Tracy is a Technical Community Advocate at Isovalent focusing on all things Cilium, eBPF, and Anxiety Driven Development. When she isn't leveling up her programming skills, baking, or learning about the next "SomethingOps", she likes helping

[2022-06-08 21:09] #114 closed, assigned to nobody

[2022-06-13 18:22] abbyphoenix opened #116 "Add Sponsor footer"
Please create a Sponsor footer at the bottom of the page. Ideally it'd be under the CodeLand 2022 logo, and then we could change the copy to say:

"Brought to you by Forem and the below Sponsors"

And then we put it above the Sponsorship and Contact boxes.

It should feature the logos and links for all Sponsors in the Airtable under Content Dash. Patron Sponsor should come first and be bigger, the

[2022-06-13 18:32] abbyphoenix commented on #116
Okay, after conversation in Slack, discard the above, haha.

So here's what we'd like instead:

- Change the top nav label for **Sponsorship** to be **Sponsors**
- In that section, remove all current content and instead, replace it with:

### CodeLand 2022 Sponsors

The Patron Sponsors
All other Sponsors

In the order and with the logo & link listed in the Content Dash tab (Web - Sponsors view) in

[2022-06-13 18:32] abbyphoenix commented on #116
Oh, and in the style of what's currently at the [day-of site](https://community.codenewbie.org/codeland-test-2022), ideally. Thank you!

[2022-06-13 19:40] danieltott commented on #116
@abbyphoenix here's a deploy preview: https://deploy-preview-117--codelandconf.netlify.app/#sponsors

[2022-06-14 16:33] abbyphoenix commented on #116
Looks great!

Okay, @danieltott -- we're ready to publish this live with the information in the [Airtable](https://airtable.com/invite/l?inviteId=inv6NIYKOq6KVPM3N&inviteToken=e1f6c835699804efa1d2b8073cc278c1d7f24b1193303d593fa75e643d11ab4f&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts) -> CodeLand Content Dash tab -> Web - Sponsors view.

Everyone except AWS for now, i

[2022-06-15 17:38] SGGregory opened #118 "Update Marketing Website For 2022 Event Window"
# Description of Task

We'll need to update the CodeLand marketing site (codelandconf.com) in preparation for CodeLand 2022 to go live on Thursday, June 16.

Ideally, all of these changes would go live on the site today _except for the prominent banner, which would go live tomorrow at 8 AM PT/11 AM ET.

## Task List

- [ ] **Remove Tracy Chou announcement banner** — Original issue [here](https://g

[2022-06-15 17:43] SGGregory commented on #118
@abbyphoenix  what do you think about registration? I think we should leave reg open through the end of the event/midday through Day 2? Curious to hear your thoughts.

Also, curious to hear your thoughts on the overall timing of these changes going live (see `Description of Task` section)

[2022-06-15 17:52] danieltott commented on #118
@SGGregory the codeland 2021 link is linking to last years conference - are we removing that for clarity?

[2022-06-15 17:56] SGGregory opened #119 "Update Marketing Site for Event Window Closing"
# Description of Task

We'll need to update the CodeLand marketing site (codelandconf.com) when the event concludes.

Ideally, all of these changes would go live on the site on June 17 @ 3 PM PT/6 PM ET.

## Task List

- [ ] **Remove Banner directing people to the live event**

- [ ] **Create smaller banner (same size/style as our keynote announcement banners) with conclusion text (see below)**

_

[2022-06-15 17:58] danieltott commented on #118
My two cents is that if someone wants to attend, they'll hit the giant "enter event portal" link and skip registering... I'd replace the "register" button with the "schedule and event portal" and remove the registration section...

[2022-06-15 17:58] abbyphoenix commented on #118
I'm fine with leaving registration (aka **Attend**) up, but I would maybe change the language under the Attend section to clarify. Instead of

CodeLand 2022 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm PT / 12-6pm ET / 4-10pm UTC) and will consist of a mix of keynotes, live speaker panels, pre-recorded talks, and engaging activities.

Maybe something like:

Co

[2022-06-15 17:59] abbyphoenix commented on #118
I totally hear what @danieltott's saying too, and I agree regarding the probable behavior, but I do think that there will be some folks who realize that they can't win prizes and stuff without having registered, so there's an argument there for leaving registration up for those who want to then come back and then register?

[2022-06-15 17:59] abbyphoenix commented on #118
Timing sounds fine to me!

[2022-06-15 18:00] danieltott commented on #118
@SGGregory @abbyphoenix here's the deploy preview: https://deploy-preview-120--codelandconf.netlify.app/

[2022-06-15 18:35] SGGregory commented on #118
This looks great! I'm good to go with this as it appears in the preview tomorrow! Thanks for the quick turnaround, @danieltott!

[2022-06-15 18:41] abbyphoenix commented on #118
@SGGregory Thoughts on the copy change suggestion under **Attend**?

[2022-06-15 19:14] SGGregory commented on #118
@abbyphoenix this works! I'll add the suggested language it to the main issue up top @danieltott

[2022-06-15 19:17] danieltott commented on #118
Are there any changes that should still go up today?

[2022-06-15 19:20] danieltott commented on #118
Attend text updated in the deploy preview 👍🏼

[2022-06-15 19:28] SGGregory commented on #118
All changes but the big banner can go up today whenever/as soon as is convenient for you! Banner can go live tomorrow at 8 AM PT/11 AM ET. Should these have been in a separate issue because of that? Sorry if so :(

[2022-06-15 21:58] abbyphoenix commented on #116
Can we update this one last time, now that our final Sponsor (AWS) has finally been approved? Their logo, blurb, and link are in the Airtable now.

[2022-06-16 15:03] #118 closed, assigned to nobody

[2022-06-16 18:08] abbyphoenix commented on #116
@danieltott taking my first breather time during CodeLand Day 1 to resurface this -- thanks!!

[2022-06-16 18:09] danieltott commented on #116
@abbyphoenix sorry - will get on that right now

[2022-06-16 18:23] danieltott commented on #116
@abbyphoenix live 👍🏼

[2022-06-16 18:23] #116 closed, assigned to danieltott